[alias]
co = checkout
cm = commmit
st = status
br = branch

hist=log --pretty=format:'%H %ad | %s%d [%an]' --graph --date=short
	pushall = !git remote | xargs -L1 git push
	rmsub = !~/arch/_git/submodule_rm.sh
[user]
	email = gk1010100@gmail.com
	name = spherical-gk1000
