[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[53CAE4E44CE24E21]
row=0
col=1

[5a37850dd8003843]
row=1
col=0

[google-drive://gk1010100@gmail.com/]
row=0
col=0

[4BD2-4816]
row=1
col=1

[F6F0ACCCF0AC9501]
row=3
col=0

[5AC8E1BFC8E19991]
row=2
col=0

[Trash]
row=4
col=0

[/]
row=5
col=0

[/home/gk1000]
row=6
col=0

